<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/working-groups">Working Groups</a></li>
    <li><a href="/gssps">GSSPs</a></li>
    <li><a href="/newsletters">Newsletters</a></li>
    <li><a href="/meetings">Meetings</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/resources">Resources</a></li>
</ul>

    
    
    
    
    
    
    
    
    
    
    
    

